<mat-spinner class="centered" *ngIf="isLoadingResults"></mat-spinner>

<div class="filter">
<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter By.." #input>
  </mat-form-field>
</div>
<div class="table-container">

  <table 
    mat-table 
    [dataSource]="dataSource"
  >
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row"><a href="javascript:void(null)" (click)="navigateToStarShip(row.url)">{{row.name}}</a></td>
    </ng-container>

    <!-- Manufacturer Column -->
    <ng-container matColumnDef="manufacturer">
        <th mat-header-cell *matHeaderCellDef>Manufacturer</th>
        <td mat-cell *matCellDef="let row">{{row.manufacturer}}</td>
    </ng-container>

    <!-- Crew Column -->
    <ng-container matColumnDef="crew">
      <th mat-header-cell *matHeaderCellDef>Crew</th>
      <td mat-cell *matCellDef="let row">{{row.crew}}</td>
    </ng-container>

    <!-- Model Column  -->
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef>Model</th>
      <td mat-cell *matCellDef="let row">{{row.model}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
  </table>
</div>

<mat-paginator [length]="resultsLength" [pageSize]="pageSize" (page)="handlePage($event)"></mat-paginator>