 
    <div class="box">
      <div class="container">
        <mat-card class="example-card">
          <mat-card-title-group>
            <mat-card-title>Characters</mat-card-title>
            <button mat-raised-button color="primary" routerLink="/characters">Learn More</button>
          </mat-card-title-group>
          <mat-card-content>
           Find your favorite Star Wars characters and learn more about them.
          </mat-card-content>
        </mat-card>      
      </div>
      <div class="container">
        <mat-card class="example-card">
          <mat-card-title-group>
            <mat-card-title>Planets</mat-card-title>
            <button mat-raised-button color="primary" routerLink="/planets">Learn More</button>
          </mat-card-title-group>
          <mat-card-content>
            Find your favorite Star Wars planet and learn more about them.
          </mat-card-content>
        </mat-card>      
      </div>
      <div class="container">
      <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Star Ships</mat-card-title>
        <button mat-raised-button color="primary" routerLink="/vehicles">Learn More</button>
      </mat-card-title-group>
      <mat-card-content>
        Find your favorite Star Wars ship and learn more about them.
      </mat-card-content>
    </mat-card>     
   </div>
  </div>
  